<div class="row">
  <div class="col-x-12">
    <img src="lore.imagePath" alt="{{ lore.topic }}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ lore.topic }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Topic <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Characters</a></li>
        <li><a href="#">Edit Lore Details</a></li>
        <li><a href="#">Delete Lore Details</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{lore.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    More Lore
  </div>
</div>
