<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name of Character</label>
          <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-5 form-group">
          <label for="amountOfCharacters">Amount of Characters</label>
          <input type="number" id="amountOfCharacters" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
          <button class="btn btn-success" type="submit" (click)="onAddItem()" >Add More Characters</button>
          </p>
          <p>
          <button class="btn btn-danger" type="button">Delete Characters</button>
          </p>
          <p>
          <button class="btn btn-primary" type="button">Clear Characters</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
